@import '../../../styles/baseline/_styles';


.grid-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	margin-bottom: 50px;

	@include respond-to($bp-md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include respond-to($bp-sm) {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
}