@import '../../../styles/baseline/__styles';

.m-press {
	padding-top: 90px;
	padding-bottom: 110px;
}

.content-copy {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 60px;

	@include respond-to($bp-md) {
		align-items: flex-start;
		flex-direction: column;
		gap: 32px;
	}

	.content-title {
		width: 100%;
		margin-right: 15px;
		max-width: fit-content;

		@include respond-to($bp-sm) {
			padding-bottom: 20px;
		}
	}
}

.content-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;

	@include respond-to($bp-lg) {
		grid-template-columns: repeat(2, 1fr);
		.card{
			max-width: initial;
		}
	}

	@include respond-to($bp-sm) {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
}
.content-grid-children{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 22px;

	@include respond-to($bp-lg){
		grid-template-columns: repeat(2,1fr);

		.card {
			max-width: initial;
		}

		.children {
			grid-column: 1/ span 2;

			div{
				max-width: initial;
			}
		}
	}

	@include respond-to($bp-sm){
		grid-template-columns: repeat(1,1fr);

		.children {
			grid-column: initial;
		}
	}
}