@import '../../../styles/baseline/__styles';
.disruptor {
	padding: 90px 0px;
	@include respond-to($bp-md) {
		padding: 30px 0px;
	}
}
.disruptor-wrapper {
	padding: 50px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 166px;
	@include respond-to($bp-md) {
		padding: 20px 0px;
	}
	@include respond-above($bp-lg) {
		padding: 50px 55px;
	}
	.disruptor-content {
		max-width: 50%;

		.h4 {
			line-height: 30px;
		}
		@include respond-to($bp-lg) {
			max-width: 100%;
			.h4 {
				margin-bottom: rem-calc(31);
			}
		}
		@include respond-to($bp-md) {
			max-width: 100%;
			.h4 {
				font-size: 20px;
				line-height: 30px;
			}
			p {
				margin-top: rem-calc(11);
				font-size: 14px;
				line-height: 20px;
			}
		}
		@include respond-to($bp-sm) {
			max-width: 630px;
		}
	}
	.button-group {
		display: flex;
		gap: 30px;

		@include respond-to($bp-md) {
			text-align: center;
			width: 100%;
			margin-top: 1rem;
			svg {
				width: 40px;
				height: auto;
			}
		}
	}
	.light {
		color: $white-light;
	}
	.dark {
		color: $dark-color;
	}
}
