@import '../../../styles/baseline/_styles';

.content-card-press {
	max-width: 397px;
	width: 100%;
	padding: 37px 33px;
	background-color: $white-color;
	box-shadow: 2px 5px 20px rgba(6, 39, 57, 0.2);
	display: flex;
	flex-direction: column;

	&:hover {
		box-shadow: 2px 5px 20px $shadow-dark;
		transition: all $hover-duration ease-in;
	}

	span {
		color: $tricentis-color;
		font-weight: $bold;
	}

	.h5 {
		margin-top: 12px;
		margin-bottom: 24px;
		color: $blaze-color;
	}

	.subhead {
		margin-bottom: 6px;
		color: $charcoal-color;
		font-size: 12px;
	}

	.button-card-press {
		margin: auto 0 0;
		padding-top: 32px;
	}
}