/*
*	Animation properties global to entire site
*/

// Anim Delay

.anim-delay-1 {
	animation-delay: 0ms;
}

.anim-delay-2 {
	animation-delay: 100ms;
}

.anim-delay-3 {
	animation-delay: 200ms;
}

.anim-delay-4 {
	animation-delay: 300ms;
}

.anim-delay-5 {
	animation-delay: 400ms;
}

.anim-delay-6 {
	animation-delay: 500ms;
}

.anim-delay-7 {
	animation-delay: 600ms;
}
.anim-delay-8 {
	animation-delay: 700ms;
}
.anim-delay-9 {
	animation-delay: 800ms;
}
.anim-delay-10 {
	animation-delay: 900ms;
}
.anim-delay-11 {
	animation-delay: 1000ms;
}
.anim-delay-12 {
	animation-delay: 1100ms;
}
.anim-delay-13 {
	animation-delay: 1200ms;
}
.anim-delay-14 {
	animation-delay: 1300ms;
}
