@import '../../../styles/baseline/_styles';

%center-aligment-card {
	align-items: center;
	div {
		text-align: center;
	}
}
.content-information-left {
	max-width: 812px;
}
.content-information-center {
	max-width: 812px;
	margin: 0 auto;
	text-align: center;
}
.content-padding {
	padding-bottom: 60px;
}
.basic-grid {
	.content-information {
		text-align: center;
		max-width: 812px;
		margin: 0 auto;

		@include respond-to($bp-sm) {
			text-align: start;
		}
	}

	.two-columns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 25px;
		row-gap: 41px;

		.card-text-center {
			@extend %center-aligment-card;
		}

		@include respond-to($bp-md) {
			row-gap: 48px;
			grid-template-columns: 1fr;
		}
	}
}

.prehead-only {
	margin-bottom: 32px;
}

.h2 + .p {
	margin-top: 16px;
}

.description {
	margin-bottom: 60px;

	.p {
		margin-top: 10px;
	}
}

.buttons {
	margin-top: 60px;

	@include respond-to($bp-sm) {
		margin-top: 30px;
	}
}

.column-center {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 50px;
	column-gap: 20px;

	@include respond-to($bp-md) {
		grid-template-columns: 100%;
		justify-items: center;
	}

	.card-text-center {
		@extend %center-aligment-card;

		&:last-child {
			grid-column-start: 1;
			grid-column-end: 3;
			max-width: initial;
			width: 100%;
			@include respond-to($bp-md) {
				grid-column-start: 1;
				grid-column-end: 1;
			}
			div {
				max-width: 606px;
			}
		}
	}
}
.grid-active {
	.card {
		align-items: flex-start;

		div {
			text-align: start;
		}
	}

	.content-information {
		max-width: 815px;
	}

	.three-columns {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 25px;
		row-gap: 60px;
		text-align: center;
		@include respond-to($bp-md) {
			grid-template-columns: repeat(1, 1fr);
			row-gap: 48px;
			justify-items: center;
		}
		.card-text-center {
			@extend %center-aligment-card;
		}
	}

	.four-columns {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 25px;
		row-gap: 60px;
		.card-text-center {
			@extend %center-aligment-card;
		}

		@include respond-to($bp-lg) {
			grid-template-columns: repeat(3, 1fr);
			row-gap: 48px;
		}

		@include respond-to($bp-md) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
